html,body{
    margin:0;
    padding:0;
}
.wrapper{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.parent{
    width:39%;
    margin: 20px;
    height: 280px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4);
    border-radius: 10px;
}
.parent:hover .child{
    transform: scale(1.2);
}

.child{
    height:100%;
    width:100%;
    background-size: cover;
    transition: all 1.1s;
}
.bg-one{
    background: url("banner.jpg");
}

.bg-two{
    background: url("banner.jpg");
}

.bg-three{
    background: url("banner.jpg");
}

.bg-four{
    background: url("banner.jpg");
}